.lmj-banner {
    color:rgb(45, 136, 136);
    text-align: center;
    padding: 30%;

    border-bottom: solid 3px black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items:center;
}

.lmj-title{
    padding-left : 30px
}

.lmj-logo{
    height: 70px;
    width: 50%;
}