.div-content{
    background-color: rgb(226, 226, 226);
    width: 275px;
    height: 620px;
    padding:20px 20px;
    text-align: left;
    border:2px solid rgb(175, 167, 92);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    float: left;
    box-shadow: 10px 5px rgb(116, 110, 57);
}

.img-profil{
    width: 120px;
    height: 120px;
    margin-left: 70px;
    align-items: center;
    border:2px solid rgb(128, 128, 101);
    border-radius: 50%;
}

h3{
    color:rgb(104, 98, 42);
    text-decoration: underline;
}

p{
    font-style: oblique;
    display: list-item;
}