.pro-content{
    background-color: rgb(226, 226, 226);
    width: 1125px;
    height: 166px;
    padding-left: 40px;
    text-align: left;
    border:2px solid rgb(175, 167, 92);
    margin-top: 40px;
    margin-right: 20px;
    border-radius: 20px;
    float: right;
    box-shadow: 10px 5px rgb(116, 110, 57);
}